//Tailwind Classes
//@tailwind base;
//@tailwind components;
//@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap");

html {
  font-family: 'Sofia Sans', serif;
  line-height: 1.15;
}

body {
  margin: 0
}

a {
  text-decoration: none;
}
