@import "./global.scss";

.test{
    height: 300px;
    background: url("../images/HeaderImg.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
}

.test1 {
  border-radius: 20px;
  background-color: #d26803;
  color: white;
  padding: 5px 5px 5px 5px;
  width: 70px;
  margin-bottom: 5px;
  font-size: 10px;
  border-color: #d26803;
  box-shadow: 2px 1px 5px black;
}

.test2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10px;
}

.test4 {
  height: 20px;
  width: 40px;
  background: url("../images/burger.png") no-repeat center;
  background-size: cover;
  border-radius: 40px;
  margin-left: 20px;
  margin-right: 130px;
  border-color: white;
  box-shadow: 2px 1px 5px black;
}

.test5 {
  display: flex;
  padding-top: 10px;
}

.test6 {
  background: url("../images/Logo.png") no-repeat center;
  background-size: cover;
  height: 40px;
  width: 50px;
  margin-right: 80px;
}

.body {
  background-color: #e7e8e7;
}

.bodytext{
    text-align: center;
    padding-top: 30px;
    font-size: 25px;
    font-weight: 900;
}

.bodytext2 {
  text-align: center;
  margin-top: 5px;
  font-size: 15px;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 2rem;
}

.cars-container-individual {
  background: #d26803;
  box-shadow: 0px 2px 4px rgba(35, 31, 32, 0.2),
    0px 0px 1px rgba(35, 31, 32, 0.1);
  border-radius: 8px;
  max-width: 256px;
}

.cars-container-individual-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  min-width: 50%;
}

.cars-container-individual-div > img {
  border-radius: 8px;
}

.cars-container-individual-div-text {
  margin: 1rem;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 50%;
}

.cars-container-individual-div-text > p {
  margin-top: 0.5rem;
  font-size: 0.5rem;
}

.buttonStyle {
  width: 25px;
  height: 25px;
  left: 197px;
  top: 180px;
  background: #ffffff;
  border-radius: 40px;
  background: url("../images/buttonBG.png") 50% 50% no-repeat;
}

.text-and-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-end;
}
=======
.bodytext2{
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 900;
}
