.bg-header {
  height: 350px;
  background: url("../images/HeaderImg.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
}

.button {
  border-radius: 20px;
  background-color: #d26803;
  color: white;
  border: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 1.8rem;
  margin-bottom: 5px;
  box-shadow: #11111a33 0 4px 16px, #11111a33 0 8px 24px, #11111a33 0 16px 56px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
  gap: 0.5rem;
}

.burger-btn {
  height: 20px;
  width: 40px;
  background: url("../images/burger.png") no-repeat center;
  background-size: cover;
  border-radius: 40px;
  margin-left: 1.5rem;
  border-color: white;
  box-shadow: #11111a33 0 4px 16px, #11111a33 0 8px 24px, #11111a33 0 16px 56px;
  border: 0;
}

.top-header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.logo {
  background: url("../images/Logo.png") no-repeat center;
  background-size: cover;
  height: 40px;
  width: 70px;
}

.bodytext {
  margin-top: 1rem;
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
  font-weight: 900;
}

.bodytext2 {
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 2rem;
}

.cars-container-individual {
  background: #d26803;
  box-shadow: #11111a33 0 4px 16px, #11111a33 0 8px 24px, #11111a33 0 16px 56px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.cars-container-individual-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-width: 100%;
}

.cars-container-individual-div > img {
  height: auto;
  width: 500px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.cars-container-individual-div-text {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}

.cars-container-individual-div-text > p {
  font-size: 1rem;
}

.buttonStyle {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 20px;
  border-style: none;
  margin-bottom: 1rem;
  background: url("../images/buttonBG.png") 50% 50% no-repeat;
  transition: all ease 0.5s;
  cursor: pointer;
}

.buttonStyle:hover {
  transform: translateY(-3px);
  opacity: 0.5;
}

.text-and-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

@media screen and (max-width: 500px) {
  .cars-container-individual-div > img {
    max-width: 250px;
  }
}
