.arrow {
    background: url("../images/arrow-back.png");
    background-size: cover;
    height: 18px;
    width: 30px;
    margin-top: 1rem;
    margin-left: 2rem;
    &:hover {
        opacity: 0.8;
        transform: scale(1.1);
        transition: all ease .3s;
        cursor: pointer;
    }

}
 .global-text {
    margin-left: 2rem;
 }

.car-image {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.specification-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 2rem;

.specification-containers {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 4em;
    background: #ffffff;
    border-radius: 15px;
    width: 8rem;
    padding: 1rem;
    box-shadow: #11111a33 0 4px 16px, #11111a33 0 8px 24px, #11111a33 0 16px 56px;
}

}
