.footer {
  background-image: linear-gradient(#e7e8e7 5%, grey 35%, #4f4f4f 50%);
  background-size: 100%;
  height: 7.5rem;
  display: flex;
  justify-content: space-between;
}

.footertext {
  color: white;
}

.footercontainer {
  padding-top: 70px;
  margin-left: 20px;
}
.ig-fb-container {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
  margin: 1rem;;
}

.footerig {
  background: url("../images/ig.png");
  background-size: contain;
  height: 41px;
  width: 40px;
}

.footerfb {
  background: url("../images/fb.png");
  background-size: contain;
  height: 41px;
  width: 40px;
}
