.vehicleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 2rem;

  .select {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:  #898989;
    height: 4em;
    background: #ffffff;
    border-radius: 25px;
    border-color: #ffffff;;
    width: 11rem;
    padding: 1rem;
    box-shadow: #11111a33 0 4px 16px, #11111a33 0 8px 24px, #11111a33 0 16px 56px;
 }
 
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.arrow-down {
  border-style: none;
  width: 6rem;
  height:4.1rem;
  background: url("../images/arrow-down.png");
  background-size: cover;
}

.arrow-up {
  border-style: none;
  width: 6rem;
  height:4.1rem;
  background: url("../images/arrow-up.png");
  background-size: cover;
}

@media (min-width: 900px) {
  .mainbox-car {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0rem 4rem;
  }
}

@media (min-width: 1200px) {
  .search-container {
    gap: 5rem;
    padding: 1rem 3rem;
    margin: 4rem 0rem;
  
    .select {
      height: 4rem;
      border-radius: 40px;
      width: 30rem;
      padding: 1rem;
      font-size: 1.5rem;
   }
   
  }

  .vehicleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 2rem;
  }

  .mainbox-car {
    margin: 0rem 1rem;
  }
  

}